{% extends "base.html" %}
{% load static %}
{% load choosecolor %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand pl-4" href="{% url 'home' %}">Online Chess</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="findGame">Find Game</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href={% url 'game_history' %}>Game History</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          Your Rating:
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="board">
  <div class="row pt-5"></div>
  <div class="row mt-5 mt-md-2 mt-lg-5 mt-xl-2 no-gutters">
    {% for col in '01234567' %}
      {% for row in '01234567' %}
        {% if row == '0' %}
          <div class="col">
        {% endif %}
          <div class={{row|choosecolor:col}} id="{{row}},{{col}}"></div>
        {% if row == '7' %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <div class="d-none d-lg-block col-4" style="background-color: #443014;">
      <div class="container ml-1 pl-2 pl-xl-3 pr-5 pr-xl-0" style="width: 280px;">
            <div class="row pt-3 pt-xl-5" id="my-pawns-s" style="height: 10%;">
            </div>
            <div class="row" id="my-pieces-s" style="height: 10%; padding-top: 20%;">
            </div>
            <div class="row" style="height: 35%;">
            </div>
            <div class="row pt-xl-5" id="e-pawns-s" style="height: 10%;">
            </div>
            <div class="row" id="e-pieces-s" style="height: 10%; padding-top: 20%;">
            </div>
      </div>
    </div>
  </div>
  <div class="row d-lg-none" style="background-color: #443014; height: 200px">
    <div class="col-6" style="padding: 0 0 0 0;">
    <div class="container" style="padding-right: 5%;">
            <div class="row" id="e-pawns-b" style="height: 15%; padding-top: 15%;">
            </div>
            <div class="row" id="e-pieces-b" style="height: 15%; padding-top: 15%;">
            </div>
  </div>
  </div>
  <div class="col-6" style="padding: 0 0 0 0;">
    <div class="container" style="padding-left: 5%;">
            <div class="row" id="my-pawns-b" style="height: 15%; padding-top: 15%;">
            </div>
            <div class="row" id="my-pieces-b" style="height: 15%; padding-top: 15%;">
            </div>
  </div>
  </div>
</div>
<audio id="sound" src={% static "move.mp3" %}></audio>
<script>
  const imgDir = "{% static "images/pieces/" %}";
</script>
<script src={% static "js/game.js" %}></script>
{% endblock content %}