{% extends "base.html" %}
{% load static %}
{% load choosecolor %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand pl-4" href="{% url 'home' %}">Online Chess</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Play a Friend</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href="#">Game History</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          Your Rating:
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="row pt-5"></div>
<div class="row">
  <div class="xl-col-10 l-col-11 m-col-12">
<div class="container">
  <div class="row mt-2 no-gutters border border-primary">
    {% for col in '01234567' %}
      {% for row in '01234567' %}
        {% if row == '0' %}
          <div class="col">
        {% endif %}
          <div class={{row|choosecolor:col}} id="{{row}},{{col}}" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
        {% if row == '7' %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <!-- <div class="col">
      <div class="sq-w" id="QR8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QR7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QR6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QR5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QR4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QR3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QR2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QR1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-b" id="QN8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QN7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QN6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QN5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QN4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QN3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QN2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QN1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-w" id="QB8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QB7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QB6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QB5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QB4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QB3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="QB2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="QB1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-b" id="Q8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="Q7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="Q6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="Q5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="Q4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="Q3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="Q2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="Q1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-w" id="K8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="K7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="K6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="K5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="K4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="K3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="K2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="K1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-b" id="KB8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KB7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KB6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KB5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KB4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KB3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KB2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KB1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-w" id="KN8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KN7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KN6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KN5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KN4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KN3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KN2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KN1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div>
    <div class="col">
      <div class="sq-b" id="KR8" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KR7" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KR6" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KR5" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KR4" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KR3" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-b" id="KR2" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
      <div class="sq-w" id="KR1" onmousedown="pickUpPiece(this)" onmouseup="placePiece(this)"></div>
    </div> -->
    <div class="col-4"></div>
  </div>
</div>
</div>
</div>
<script src={% static "js/game.js" %}></script>
{% endblock content %}