{% extends "base.html" %}
{% load static %}
{% load choosecolor %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand pl-4" href="{% url 'home' %}">Online Chess</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="findGame">Find Game</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><a class="dropdown-item" href={% url 'game_history' %}>Game History</a></li>
            <li><a class="dropdown-item" href="#">Logout</a></li>
          </ul>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          Your Rating:
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="board">
  <div class="row pt-5"></div>
  <div class="row mt-5 mt-md-2 mt-lg-5 mt-xl-2 no-gutters">
    {% for col in '01234567' %}
      {% for row in '01234567' %}
        {% if row == '0' %}
          <div class="col">
        {% endif %}
          <div class={{row|choosecolor:col}} id="{{row}},{{col}}"></div>
        {% if row == '7' %}
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
    <div class="d-none d-lg-block col-4">
      <div class="container ml-1 pl-2 pl-xl-3 pr-5 pr-xl-0" style="width: 280px;">
        <button type="button" class="btn btn-secondary btn-sm btn-block prev"> &lt;&lt; </button>
        <button type="button" class="btn btn-secondary btn-sm btn-block next"> &gt;&gt; </button>
      </div>
    </div>
  </div>
  <div class="row d-lg-none" style="height: 200px">
    <div class="col-6" style="padding: 0 0 0 0;">
    <div class="container" style="padding-right: 5%;">
      <button type="button" class="btn btn-secondary btn-sm btn-block prev"> &lt;&lt; </button>
  </div>
  </div>
  <div class="col-6" style="padding: 0 0 0 0;">
    <div class="container" style="padding-left: 5%;">
      <button type="button" class="btn btn-secondary btn-sm btn-block next"> &gt;&gt; </button>
  </div>
  </div>
</div>
<audio id="sound" src={% static "move.mp3" %}></audio>
<script>
  const imgDir = "{% static "images/pieces/" %}";
  const playingBlack = {{ playingBlack }};
  const moveHistory = "{{ moves }}";
  const captured = "{{ captured }}";
  const promotions = "{{ promotions }}";
  const winner = "{{ winner }}";
</script>
<script src={% static "js/replay.js" %}></script>
{% endblock content %}